sentencepiece
transformers>=4.44
datasets
numpy
gradio
gradio_client
scikit-learn
seaborn
pandas
torch
accelerate
bitsandbytes>=0.43.1
safetensors
huggingface_hub
tokenizers
pillow
requests
urllib3
tqdm
joblib
matplotlib
ftfy
regex
